.button {
    font-size: $m-size;
    font-weight: 300;
    padding: $s-size;
    background-color: $buttonBlue;
    color: $buttonTextColor;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    box-shadow: none;
    border: none;

}

.button--secondary {
    background-color: $buttonGray;
}

.button--link {
    background: none;
    color: $buttonTextColor;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 0px auto 0px auto;
}