// Colors
$dark-gray: #333333;
$gray: #666;
$buttonBlue: #1C88BF;
$buttonTextColor: #FFF;
$darkBlue: #364051;
$buttonGray:#888;
$off-white: #f7f7f7;

$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing and sizes;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$desktop-breakpoint: 45rem;
